# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Jakub\Desktop\Uczelnia mgr\SEMESTR 2\NBD\Ćwiczenia\Code\NBD-6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
